/* ===== Navbar Global ===== */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;          /* ancho completo del viewport */
    height: 90px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;       /* opcional, ajusta espacio interno */
    background: orange; /* degradé celeste claro a blanco */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* sombra suave */
    box-sizing: border-box; /* asegura que padding no expanda el ancho */
}

.navbar ul{
    list-style: none;
}

/* Contenedor de categorías y carrito */
.navbar .nav-left,
.navbar .nav-right {
    display: flex;
    align-items: center;           /* centra verticalmente */
    gap: 2rem;                     /* espacio entre elementos */
}

/* Logo */
.navbar .logo {
    width: 100px;
    height: auto;
    cursor: pointer;
}

/* Categorías */
.categorias {
    display: flex;
    align-items: center;
}