/* ===== Navbar Global ===== */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;          
    height: 90px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;       
    background: orange; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    box-sizing: border-box;
}

.navbar ul{
    list-style: none;
}

/* Contenedor de categorías y carrito */
.navbar .nav-left,
.navbar .nav-right {
    display: flex;
    align-items: center;           
}

/* Logo */
.navbar .logo {
    width: 100px;
    height: auto;
    cursor: pointer;
}

/* Categorías */
.categorias {
    display: flex;
    align-items: center;
}