body {
    margin: 0;
    padding-top: 60px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2c3e50;
}

.app-root {
    text-align: center;
    padding: 2rem 0;
}

.app-root h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #14395f;
    letter-spacing: 1px;
    animation: fadeIn 1.5s ease forwards;
    opacity: 0;
}


/* Keyframes */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.6rem;
    }
}